@model IEnumerable<BRTS_System.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index" asp-controller="Buse">Go To Buses</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.TripID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
